<div class="list-group list-group-flush">

    <button type="button" *ngFor="let playlist of playlists; index as i"
        [ngClass]="{ active:  playlist.id === selectedId }" (click)="select(playlist.id)"
        class="list-group-item list-group-item-action"
        [attr.aria-current]="playlist.id === selectedId">

        {{i+1}}. {{ playlist.name }}

        <button class="close" title="Remove" (click)="removeClick(playlist.id, $event)">&times;</button>
    </button>

</div>