<div class="card">
    <div class="card-header">
        <ng-content select="card-header"></ng-content>
    </div>
    <div class="card-body">

        <h5 class="card-title">
            <ng-content select="card-title"></ng-content>
        </h5>
        <!--  -->
        <ng-content></ng-content>
    </div>

    <div class="card-footer">
        <!-- <ng-content select=".card-buttons"></ng-content> -->
        <ng-content select="card-buttons"></ng-content>
    </div>
</div>

<style>
    .card-header:empty {
        display: none;
    }
</style>