<form #formRef="ngForm" (ngSubmit)="saveClick(formRef)">
    <app-card>
        <!-- <pre>{{playlist | json}}</pre> -->

        <ng-container ngProjectAs="card-title">Playlist </ng-container>
        

        <div class="form-group">
            <label>Name:</label>

            <input type="text" class="form-control" #nameRef="ngModel" [ngModel]="playlist.name" name="name" required minlength="3">

            <ng-container *ngIf="nameRef.dirty || nameRef.touched || formRef.submitted">
                <p class="text-danger" *ngIf="nameRef.hasError('required')">Name is required</p>
                <p class="text-danger" *ngIf="nameRef.getError('minlength') as error">
                    Name should have at least {{error.requiredLength}} characters
                </p>
            </ng-container>

            <p class="float-right">{{ playlist.name.length }} / 170</p>
           
        </div>

        <div class="form-check mb-2">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" [ngModel]="playlist.public" name="public">
                Public
            </label>
        </div>

        <div class="form-group">
            <label for="">Description:</label>
            <textarea class="form-control" [ngModel]="playlist.description" name="description"></textarea>
        </div>



        <div ngProjectAs="card-buttons">
            <button class="btn" type="button" (click)="reset()">Reset</button>
            <button class="btn btn-danger" type="button" (click)="cancelClick()">Cancel</button>
            <button class="btn btn-success" type="submit">Save</button>
        </div>
    </app-card>
</form>