<div *ngIf="album | async as albumData else loadingRef">

    <small class="text-muted">{{album_id | async }}</small>
    <h3>{{albumData.name}}</h3>

    <div class="progress mb-4" style="height: 1px;">
        <div class="progress-bar" role="progressbar" [style.width.%]="albumData.popularity"
            [attr.aria-valuenow]="albumData.popularity" aria-valuemin="0" aria-valuemax="100"></div>
    </div>

    <div class="row">
        <div class="col">
            <app-album-card [album]="albumData"></app-album-card>
        </div>
        <div class="col">
            <dl>
                <dt>Name</dt>
                <dd>{{albumData.name}}</dd>
                <dt>Artist</dt>
                <dd>{{albumData.artists[0]?.name}}</dd>

                <dt>Label</dt>
                <dd>{{albumData.label}}</dd>

                <dt>Release date</dt>
                <dd>{{albumData.release_date | date:'fullDate'}}</dd>
            </dl>

            <hr>
            <h6>{{currentTrack?.name}}</h6>
            <audio [src]="currentTrack?.preview_url" class="w-100" controls #audioRef></audio>
            <hr>

            <div class="list-group list-group-flush">
                <div class="list-group-item" *ngFor="let track of albumData.tracks?.items">
                    {{track.name}}

                    <span class="float-right btn btn-xs" (click)="playTrack(track)">
                        <i class="bi bi-play" ></i>
                        <!-- <i class="bi bi-play-fill"></i> -->
                    </span>
                </div>
            </div>

        </div>
    </div>
</div>

<ng-template #loadingRef>

    <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

</ng-template>

<!-- http://localhost:4200/search/album/5Tby0U5VndHW0SomYO7Id7 -->