<div class="card">
    <div class="card-header" id="headingOne">
        <h2 class="mb-0">
            <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse"
                data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" (click)="toggle()">
                {{title}}
            </button>
        </h2>
    </div>

    <div id="collapseOne" class="collapse" [class.show]="isOpen" aria-labelledby="headingOne" data-parent="#accordionExample">
        <div class="card-body">
            <ng-content></ng-content>
        </div>
    </div>
</div>