<app-card>
    <ng-container ngProjectAs="card-title">
        <span [style.font-size.px]=" 24">{{playlist.name | titlecase }}</span>
    </ng-container>
    
    <ng-container ngProjectAs="card-buttons">
        <button class="btn btn-info" (click)="clickEdit()">Edit</button>
    </ng-container>

    <dl [attr.data-id]=" 'playlist_' + playlist.id " [title]="playlist.name">

        <!-- <dt>Name:</dt>
        <dd>{{playlist.name | titlecase }}</dd> -->

        <dt>Public:</dt>
        <dd class="public_private" [ngClass]="{
        'playlist-public': playlist.public,
        'playlist-private': playlist.public === false 
    }">
            <!-- {{ playlist.public? 'Yes' : 'No' }} -->
            {{ playlist.public | yesno: 'Yeah!' : 'Nope' | uppercase}}
        </dd>

        <dt>Description:</dt>
        <dd>{{playlist.description}}</dd>

    </dl>


</app-card>