/* You can add global styles to this file, and also import other style files */

// @import '/node_modules/bootstrap/dist/css/bootstrap.css';
// @import '~bootstrap/dist/css/bootstrap.css';

// $primary: yellow !default;

// $enable-rounded: false !default;
// $enable-shadows: true !default;

// $body-bg: #eee !default;
// $body-color: #333 !default;

// @import "/node_modules/bootstrap/scss/bootstrap.scss";

input,
select,
textarea {
  &.ng-pending {
    border: 1px solid blue;
  }
  &.ng-touched,
  &.ng-dirty {
    &.ng-valid {
      border: 1px solid green;
    }

    &.ng-invalid {
      border: 1px solid red;
    }
  }
}
