<p>sandbox works!</p>

<div class="row mb-4">
  <div class="col">

    <div class="dropdown" appDropdown>
      <button class="btn btn-secondary dropdown-toggle" appDropdownToggle>
        Dropdown with Parent
      </button>

      <div class="dropdown-menu" appDropdownMenu>
        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <a class="dropdown-item">Something else here</a>
      </div>
    </div>
  </div>
  <div class="col">
    <div class="dropdown">

      <button class="btn btn-secondary dropdown-toggle" [appDropdownToggle]="menuRef">
        Dropdown with Ref
      </button>

      <div class="dropdown-menu" appDropdownMenu #menuRef="appDropdownMenu">

        <a class="dropdown-item">Action</a>
        <a class="dropdown-item">Another action</a>
        <a class="dropdown-item">Something else here</a>
      </div>
    </div>
  </div>
</div>

<div appDropdown>

  <p>
    <a class="btn btn-primary" appDropdownToggle>
      Link with href
    </a>

    <button class="btn btn-primary" type="button" appDropdownToggle>
      Button with data-target
    </button>

  </p>

  <div class="collapse" appDropdownMenu [autoClose]="false">
    <div class="card card-body">
      Some placeholder content for the collapse component. This panel is hidden by default but revealed when the user
      activates the relevant trigger.
    </div>
  </div>

</div>